
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>


<body>
  <!-- This file lives in public/404.html -->
  <div class="wrapper">
  	<h3>You must be lost because nothing existis here: 404</h3>
    <%= image_tag ("lostdog.jpeg") %>
	
  </div>
</body>
</html>
