<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>AdvoCharge</h2>
	<p>A short animation I made for a client to inform and attract potential customers.</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Animation</li>
			<li>Design</li>
			<li>Copy</li>
			<li>Voice Over</li>
			
			
		</ul>
	</div>
	<p>This is an animation I made for a client as feelance work. I soon realized that the bulk of my work wasn't going to be about creating an animation but rather helping the client simplify the message behind his service into a short video. </p>
	
</div>


<div class="main">


<iframe src="http://player.vimeo.com/video/44262689" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div >





</div>