<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div  class="titles">
		<h2>Applebees.com</h2>
		<p></p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Sr Developer</li>
			</ul>
		</div>
		<p>Sr developer for applebees.com for a large variety of new pages, features, interactions and updates</p>
		<p>Applebees is a ASP .Net Project built in Sitecore</p>
		<h4><a href="//applebees.com" target="_blank"> See it live at Applebees.com</a></h4>
	</div>
	<div class="main">
		<%= image_tag ("applebees-1.jpg") %>
		<%= image_tag ("applebees-2.jpg") %>
		<%= image_tag ("applebees-3.jpg") %>
	</div>
</div>