<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div class="titles">
		<h2>BDWC4.com</h2>
		<p>A webpage to pay tribute to our graduating class at <a href="http://bdwcu.colorado.edu">Boulder Digital Works</a></p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
				<li>Technologist</li>
				<li>UX</li>
			</ul>
		</div>
		<p>The truth is, a webpage about 18 people is boring, so we made the scrolling a bit more fun to keep you interested. </p>
		<h4><a href="http://bdwc4.com" target="_blank"> See the site at bdwc4.com</h4>
		
	</div>
	<div class="main">
		<%= image_tag ("bdwc4.png") %>
		<%= image_tag ("bdwc4_1.png") %>
		<%= image_tag ("bdwc4_mobile.png") %>

	</div >
</div>