<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Boulder Box Sets</h2>
	<p>A TV series for Rocky Mountain PBS that showcases intimate and up-close live performances. It Premiered late July 2012 and won an Emmy in July of 2013.</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Animation Lead</li>
			<li>Strategist</li>
		</ul>
	</div>
	<p>A television series for Rocky Mountain PBS. We were tasked with developing the concept from the ground up. We began with the concept of building a raw and unadulterated setting to combat the growing distance between the performer and the audience. I also lead in building both an intro and outro animation sequence and their website for the show</p>
	<h4><a href="http://boulderboxset.org/">See Site</a></h4>

</div>
	<div class="main">
	<iframe src="http://player.vimeo.com/video/45154099" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p>Intro to PBS music series Boulder Box Set, with music by Emmy winner Don Grusin </p>
	<iframe src="http://player.vimeo.com/video/45154893" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p>PBS Credit Outro</p>
	<%= image_tag ("pbslogo.png") %>
	</div>
</div>