<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Boulder Box Sets</h2>
	<p>A TV series for Rocky Mountain PBS that showcases intimate and up-close live performances. Premiers sometime this fall.</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Animation Lead</li>
			<li>Strategist</li>
			
		</ul>
	</div>
	<p>A television series for Rocky Mountain PBS. We were tasked with developing the concept from the ground up. We began with the concept of building a raw and unadulterated setting to combat the growing distance between the performer and the audience. I also lead in building both an intro and outro animation sequence and their website for the show</p>
	
</div>


<div class="main">
<%= image_tag ("pbslogo.png") %>


<iframe width="600" height="437" src="http://www.youtube.com/embed/ySWNnyOQ6QI" frameborder="0" allowfullscreen></iframe>

<iframe width="600" height="335" src="http://www.youtube.com/embed/ikb0jd5Kev4" frameborder="0" allowfullscreen></iframe>



</div >





</div>