<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Code Glossary</h2>
	<p>A simple site with HTML, CSS3, and Javscript for basic Front-end development terms</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Developer</li>
			<li>Designer</li>
			
		</ul>
	</div>
	
	<p>As I was teaching myself the fundementals of coding. I decided take my notes and make them a tool on the web. The site is also mobile ready. No matter how responsive your site is, some times a media query is necessary. At about 480 pixels, the sidebar was reduced a vertical reading column so I decided to change the nav into a option drop down menu.</p>
	
	<h4><a href="www.bentonrochester.com/codeadvice">See Live Site!</a></h4>
</div>


<div class="main">
<%= image_tag ("codeadvice/main.png") %>
<%= image_tag ("codeadvice/responsive.png") %>
<%= image_tag ("codeadvice/phone.png") %>

</div >





</div>