<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div  class="titles">
		<h2>CP+B Website</h2>
		<p>Agency Website.</p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
			</ul>
		</div>
		<p>As a developer at CP+B, I have helped build, update, and fix many aspects of this site.</p>
		<h4><a href="http://cpbgroup.com" target="_blank">See the site at cpbgroup.com</a></h4>
		
	</div>
	<div class="main">
		<%= image_tag ("cpbgroup.png") %>		
	</div >
</div>