<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div class="titles">
		<h2>Triscuit.com</h2>
		<p>A simple homepage</p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
				<li>Technologist</li>
			</ul>
		</div>
		<p>Jello asked for a static site, I built them one that was fully responsive and interactive. It was a simple page but fun. </p>
		<h4><a href="http://triscuit.com" target="_blank"> See the site at triscuit.com</h4>
		
	</div>
	<div class="main">
		<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="nojs"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title></title>
	
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/homepageGlobal.css" />
		<link rel="stylesheet" href="css/ctaAnimated.css" />
	</head>
	<body>
		<div id="homePage" class="generalMarket">
			<div id="sectionMain">
				<div class="header">
					<h1>Introducing Our New</h1>
					<h2>Handmade</h2>
					<h3>Pan Pizza</h3>
					<p>With two layers of cheese and toppings all the way to the edge</p>
					<div id="headlineContainer">
						<img id="line01" src="images/DPZ_N1_GM_HP_hero_line01.png" alt="Order Two Or More"/>
						<img id="line02" src="images/DPZ_N1_GM_HP_hero_line02.png" alt="Medium 2-topping Pizzas online"/>
						<img id="line03" src="images/DPZ_N1_GM_HP_hero_line03.png" alt="$5.99 each and get $5 in dominos dollars towards your next online order. Dominos Dollars need to be used towards an online order with 10days of receiving them"/>
					</div>
				</div>
				<img id="heroimg01" src="images/DPZ_N1_GM_HP_hero_2IM.png" alt="2-item medium pizza"/>
				<div id="heroimg02">
					<p> Available for 12 Days only from Jan 2–12 Online Only </p>
				</div>
				
				<a href="http://www.dominos.com">
					<p class="cta">Order Any $5.99 medium 2-topping Pizza online and get $5 in Domino's Dollars towards your next online order</p>
				</a>
			</div>
			<div id="asideMain">
				<h2>Promotions</h2>
				<ul>
					<li id="largeThreeTop">
						<div id="largeThreeTopText">
							<img id="line01" src="images/DPZ_N1_GM_HP_MTW_L3T_text1.png" alt="Large 3-topping pizza"/>
							<img id="line02" src="images/DPZ_N1_GM_HP_MTW_L3T_text2.png" alt="$7.99 Mon-Wed Carryout Only"/>
						</div>
						<a href="http://www.dominos.com">
							<h3>Large 3-Topping Pizzas</h3>
							<p>$7.99 Each</p>
							<p class="cta">Order Any Two or More Now</p>
						</a>
					</li>
					<li id="thumbsUpOrdering">
					<img id="line01" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line01.png" alt="Let your thumbs do the ordering"/>
					<div id="orderingThumbs">
						<img id="line02LT" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line02_LT.png" alt="Left Thumbs-up!"/>
						<img id="line02" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line02.png" alt="Let your thumbs do the ordering"/>
						<img id="line02RT" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line02_RT.png" alt="Right Thumbs-up!"/>
					</div>
					<div id="phones">
						<img id="line03p1" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line03_p1.png" alt="Dominos Mobile App for IPhones"/>
						<img id="line03p2" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line03_p2.png" alt="Dominos Mobile App for Tablet"/>
						<img id="line03p3" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line03_p3.png" alt="Dominos Mobile App for Android"/>
					</div>
					<img id="line04" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line04.png" alt="Dominos Mobile App available for IPhone, Android, and Kindle Fire"/>
					<img id="line05" src="images/DPZ_N1_GM_HP_MTW_ThumbsUp_line05.png" alt="Choose a mobile app"/>
						<a href="http://www.dominos.com">
							<h3>Let Your Thumbs Do the Ordering</h3>
							<p>Dominos Mobile App</p>
							<p class="cta">Available for Iphone, Android and Kindle Fire</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/jquery-ui-1.8.20.custom.min.js"></script>
		<script src="js/global.js"></script>
	</body>
</html>

	</div >
</div>

