<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Hasbro</h2>
	<p>A rebrand to begin bringing the family back together</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Production</li>
			<li>Strategist</li>
			
		</ul>
	</div>
	
	<p><b>"Get Together, It's Game Time!"</b></p>
	<p>With the advent of new gaming systems like the XBox 360, PS3, and Nintendo DS, people have become increasingly detached from each other and gaming has become an isolated activity.</p>
	<p>Hasbro's games have survived the test of time because when your play them, you play them with others.  Spending time with others and interacting together is what's most important about Hasbro.</p>
	<p><b>Launch:</b>
Live Game play in NYC to bring the all the lonely strangers in the midst of millions, together. 
Compete online to see your leader board image broadcasted in such places as Time Square and Football Stadiums.</p>
<p><b>Digital:</b> Play across the world using augmented reality on your own board game or a virtual one.</p>
	
</div>


<div class="main">
<%= image_tag ("hasbrologo.png") %>
<%= image_tag ("hasbroleaderboard.png") %>
<%= image_tag ("hasbroaugment.png") %>


<iframe src="http://player.vimeo.com/video/34863843" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>





</div >





</div>