<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div class="titles">
		<h2>David Joseph Katona</h2>
		<p>A gallery for interior design</p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
				<li>Technologist</li>
				<li>UX</li>
			</ul>
		</div>
		<p>A portfolio site I made for David Joseph Katona, an interior decorator.</p>
		<h4><a href="http://davidjosephkatona.com" target="_blank"> See the site at davidjosephkatona.com</h4>
		
	</div>
	<div class="main">
		<%= image_tag ("katona2.png") %>
		<%= image_tag ("katona1.png") %>
		<%= image_tag ("katona3.png") %>

	</div >
</div>