<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>The Occupationalist</h2>
	<p>An impartial and real-time view of the Occupy Wall Street movement. Covering history as it unfolds. No filters. No delays.</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Producer</li>
			<li>Strategist</li>
		</ul>
	</div>
	
	occupationalist
	
	<p>Built for Alex Bogusky of Fearless Cottage. We launched with a concept of being: <i>A vehicle of self definition for the movement</i>.</p><p>The mission was to aggregate the extensive amount of information that mainstream media was missing in order to project the reality of the movement. We succeeded. </p>
	
</div>


<div class="main">

<%= image_tag ("occupationalist/owsbig.png") %>

<%= image_tag ("occupationalist/occpublishings.png") %>
<iframe src="http://player.vimeo.com/video/31114896?title=0&amp;byline=0&amp;color=ffffff" width="600" height="338" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="z-index: 0; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: block; " id="1_object"></iframe>
</br>
<iframe width="600" height="338" src="http://www.youtube.com/embed/rtMfXliy0SA?rel=0&amp;hd=1&amp;wmode=transparent" frameborder="0" allowfullscreen="" style="z-index: 0; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: block; " id="7_object"></iframe>





</div >





</div>