<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div  class="titles">
		<h2>Papa's Pilar</h2>
		<p>A site for world class rum.</p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
			</ul>
		</div>
		<p>Papa's Pilar is a world class rum brought to you by HEMINGWAY™</p>
		<h4><a href="http://papaspilar.com" target="_blank">See the site at papaspilar.com</a></h4>
		
	</div>
	<div class="main">
		<%= image_tag ("Papas-Pilar-Rum.jpg") %>
		<%= image_tag ("Papas-Pilar-desktop.png") %>
		
	</div >
</div>