<%= render :partial => 'header' %>

<div class="wrapperportfolio">


<div class="side">
	<div  class="titles">
	<h2>Parallax Scolling Piece</h2>
	<p>A fun parallax scrolling site as a temporary portfolio</p>
	</div>
	<div class="details">
		<h5>Roles:</h5>
		<ul>
			<li>Developer</li>
			<li>Designer</li>
		</ul>
	</div>
	<p>Who doesn't love parallax scrolling sites? I built this site on my free time just to learn more about code. I had a great time building it. It's like my own digital playground.  </p>
	
	<h4>
		<a href="www.bentonrochester.com" target="_blank">See it live!</a>
	</h4>
	
</div>


<div class="main">

<%= image_tag ("space/space1.png") %>
<%= image_tag ("space/space2.png") %>

</div >





</div>