<%= render :partial => 'header' %>

<div class="wrapperportfolio">
	<div class="side">
		<div  class="titles">
		<h2>The Tonight Show with Jimmy Fallon</h2>
		<p>Web Application</p>
		</div>
		<div class="details">
			<h5>Roles:</h5>
			<ul>
				<li>Developer</li>
				<li>Technologist</li>
			</ul>
		</div>
    <p> Jimmy Fallon taking over the Tonight Show for NBC marked the changing of the tide in America. I was lucky enough to be part of the team that concepted, prototyped, and built the Tonight Shows website.</p>
		<h5>Website</h5>
		<p>The app was built using drupal for a content mangement system, which would spit out json to an Android, iOS, and Web Application. The Web Application used backbone and marionette to parse the content and turn it into bite-sized bits for users to browse.</p>

	
	</div>
	<div class="main">
		<%= image_tag("tonightshow/desktop.png") %>
	</div >
</div>
