<div class="articleview">
	<figcaption>
		<h2>Hasbro Rebrand</h2>
		<ul class="roles">
			<li>Strategy</li>
			<li>Animation</li>
			<li>Branding</li>
		</ul>
		<p>We wanted to make Hasbro relevant again by bringing their classic games back into the 21st century</p>
	
	
	</figcaption>
	<figure>
	
	<%= image_tag("hasbro_main.png") %>
	</figure>




</div>