@font-face {
    font-family: "BentonSans";
    src: url("fonts/BentonSans-Regular.otf") format("opentype");
    font-family: "BentonSans-Bold";
    src: url("fonts/BentonSans-Bold.otf") format("opentype");
}


*{
	margin: 0;
	padding: 0;
}
html{
	background: url("furley_bg.png") repeat fixed;
}

body{
	font-family: "BentonSans";	}

section{padding-top: 200px;}

.header{ padding-top: 00px;}
li {list-style: none;}
p{ margin: 0px;}

a {text-decoration: none; color: #000; }

#cover{
	width: 100%;	
	background: #000;
	background: url("dvsup.png") repeat fixed;
	 -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}
#cover.alt{
	
	height: 0%;
}

#cover img{
	
	max-width: 90%;	
	padding: 300px 0 600px 0;
	margin: 0 auto;
			opacity: 100%;
  -webkit-transition: all 0.8s ease-out;
     -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}


#cover img.alt{
background: url("dvsup.png") repeat fixed;	
	max-width: 0%;	
	opacity: 100%;
	padding: 100px 0;
	margin: 0 auto;
} 

#wrapper{
	width: 960px;
	margin: 400px auto 0 auto;
	position: relative;
	padding: 0;
}
.floatleft{
	float: left;
}

.floatright{
	float: right;
}
hgroup{
	width: 815px;
	margin: 0 auto;
}

hgroup h1, hgroup h2{
	text-indent: -999em;
	display: none;
}

#banner{
	width: 100%;	
	margin-top: -300px;
	background: #000;
	text-align: center;
}

nav {
	position: fixed;
	width: 100%;
	top: 173px;
	padding: 0px 0 5px 0;
	text-align: center;
	height: auto;
  	-webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    z-index: 999;
}
nav.still{
	position: fixed;
	top: -980px;
	padding-top: 900px;
		background: url("dvsup.png") repeat fixed;	
}


.navhead ul{
	width: 815px;
	margin: 0 auto;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.navhead li{
	display: inline;
	color: #fff;
	width: 30px;
	margin: 0px 40px;
	font-family: "BentonSans-Bold";

}
.navhead li a{
	color: #fff;
}
.logos{
	position: relative;
	bottom: 305px;
	margin: 0 auto;
	width: 815px;
	display: block;
	 -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;

}
.logo{
	position: relative;
	bottom: -85px;
	margin: 0 auto;
	width: 815px;
	display: block;
}



.navhead ul li:nth-child(2){
	margin-right: 100px;
}

.navhead ul li:nth-child(3){
	margin-left: 100px;
}

/*-------- MY WORK-------- */

#filter {
	padding-bottom: 20px;
	width: 100%;
}

#search{
	width: 100%;
	border-bottom: 1px #ccc solid;
	border-top: 1px #ccc solid;
}

#search li{
	display: inline-block;
	list-style: none;
	float: left;
	margin: 10px;
}

#mywork{
	width: 960px;
	margin: 0 auto;

}
#mywork #work img{
	width: 192px;
	height: 146px;
}

#mywork #work {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}

#mywork #work article{
	box-shadow: 0px 1px 1px #000;
	display: inline-block;
	list-style: none;
	float: left;
	background: #fff;
	padding: 6px 6px;
	margin: 9px 18px;
}

#mywork #work article:hover{
	box-shadow: 0px 5px 10px #000;
	
}

#mywork #work article span{
	position: absolute;
	margin-left: -95px;
	margin-top: -50px;
	background: #000;
	color: #fff;
	padding: 5px 10px;
}

#mywork #work article h5{
	color: #959595;
}
#aboutme ul{
	width: 30%;
	margin-top: 100px;
	float: left;
	text-align: left;

}

#search:after, section:after, #lowerabout:after, #aboutinfo:after {clear:both; content: " "; display: block; visibility :hidden; height: 0px;}
	/*-------------------About Me ----------------*/
	

#myimage{padding: 10px;box-shadow: 0px 5px 10px #000; background: #fff; float: left; margin: 0 auto;}
#nextabout{
	padding-top: 100px;
	
}	
#aboutinfo, #wordboard {float: right; width: 500px;}

#aboutmore {float: left; width: 300px;}



/* =============================================================================
   Forms
   ========================================================================== */

#contactform{ width: 500px; float: left;}
.contactinfo{ width: 300px; float: right; }
.contactinfo a{ padding-bottom: 20px }
.contactinfo h2{ padding-top: 10px 0; font-weight: bold; text-decoration: underline; text-transform: uppercase;}
.social{margin: 20px 0;}
.social li{ margin: 5px 10px;}

#contactme{ width: 960px;}
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }


form { float:left; }
.form-row { float:left; width: 100%; }
.form-row { float:left; width: 100%; padding-bottom: 20px; font-size: 14px; position:relative; }
.form-row.error input[type=password],
.form-row.error input[type=text] { border: 1px solid red; margin: -1px; }
.form-row.error .error-msg { float:left; clear:both; color: red; font-size: 12px; margin: 10px 0 0 135px; line-height: 1.2; display:block; }
.form-row .error-msg { display: none; }
.form-row p { color:#444; }
.form-row textarea { padding: 10px; line-height: 1.4em; float: left; clear: both; }

.form-row label { float: left; padding: 5px 20px 0 0; color: #666; }
.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=password] { float: left; clear: both; border: 1px solid #333; padding: 5px; line-height: 1; height: 16px;  }


#contact form { margin-right: 80px; }
#contact fieldset { margin-top: 20px; }

#contact .form-row label { color: #acacac; margin-bottom: 20px; font-size: 18px; line-height: 18px; font-weight: bold; padding-top: 0; }

#contact .form-row input[type=text],
#contact .form-row input[type=email],
#contact .form-row input[type=password],
#contact .form-row textarea { width: 520px; padding: 10px; border: 1px solid #acacac;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

#contact .form-row input[type=text],
#contact .form-row input[type=email],
#contact .form-row input[type=password] { height: 30px; }
#contact .form-row .btn.active { float: right; }


#contact .errors { width: 494px; border: 2px solid #df616d; background: #f0e2e2; color:#a9383a; padding: 18px 22px; line-height: 22px; }
#contact .errors h3 { font-size: 18px; font-weight: bold; margin: 0; padding:0 ;}
#contact .errors ul { margin: 0 0 0 1em; padding: 0; font-size: 14px;}


/*------Foursquare Checking ----*/
.rss-item a:before{
	content: url("blue-dot.png");
}
#checkin{
width: 300px;
text-decoration: underline;
padding-bottom: 10px;
}

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
   .rss-item {
   list-style: none;
   padding: 20px 0;

   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;  
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
