<section id="aboutme">
	<%= image_tag("aboutme.png", :class => 'header') %>
	
	<div id="myimage" class="floatleft">
		<a href="#"><%= image_tag("bentondc.jpeg", :size => "350x250") %></a>
	</div>
	
	
	<div id="aboutinfo">
		<%= image_tag("wordboard.png") %>
			
		
		
	</div>
	

		

</section>	
<section id="nextabout">
<div id="lowerabout">
		<div id="about1" >
				<h2>Who I Am</h2>
				<p>I'm 25 and am about to graduate the 60weeks graduate program at BDW. Im a creative who loves to build stuff. If im not working on a project for a client or employer, im building one myself as if its some sort of awesome riddle. I'm a great chief but I also love being an indian. The best leaders are those who understand who their leading and can fight in the trenches next to them during war. At the end of the day, there is nothing better than sitting back and thinkng "I Built That!"</p>
		</div>
		
		<div id="about2">		
			<h2>What I do</h2>
				<p>Im a creative who loves to build stuff. If im not working on a project for a client or employer, im building one myself as if its some sort of awesome riddle. I'm a great chief but I also love being an indian. The best leaders are those who understand who their leading and can fight in the trenches next to them during war. At the end of the day, there is nothing better than sitting back and thinkng "I Built That!"</p>
				
		<p>I like grid systems, hacking, robots, Scandinavian design, and typography. I dislike croutons, time cards, and wet socks.</p>
		<p>I'm a jr developer who knows how to produce, loves user experience, and will have thought of 5 new ideas by the time your done reading this. I like making things talk to the internet, pushing the boundries of possible, making clients love me.   </p>
		</div>
	</div>	
	
	
	
	</section>