<section id="aboutme" class="section">
	<%= image_tag("aboutme.png", :class => 'header') %>
	
	<div id="myimage">
		<a href="#"><%= image_tag("bentondc.jpeg", :size => "350x250") %></a>
	</div>
	
	
	<div id="aboutinfo">
		<%= image_tag("wordboard.png") %>
			
		
		
	</div>
	

		

</section>	
<section id="nextabout" >
<div id="lowerabout">
		<div id="about1" >
				<h2>Hobbies</h2>
			<ul>
				<li>3D Printing</li>
				<li>Launching ideas/companies</li>
				<li>BMXing</li>
				<li>Walking my dogs</li>
				<li>Hacking</li>
			</ul>
		</div>
		
		<div id="about2">		
			<h2>What I do</h2>
			
				
			<p>I'm a jr developer who knows how to produce, loves techonlogy and user experience, and always enjoys making animations.</p>
				<p>I'm 25 and about to graduate from the 60weeks graduate program at BDW. Im a creative who loves to build stuff, lots of stuff like: internet connected devices, websites, movies, animations, and art(although im not as good at art). I want to open my own production shop one day but until then, I am working hard at becoming a better developer and leader.</p>

		
		</div>
	</div>	
	
	
	
	</section>