<div id="banner">
	<div id="cover" class="home"> 
			<hgroup>
				
					<%= image_tag("cover.png") %>
					
				<h1>Benton Rochester Portfolio</h1>
				<h2>Developer, builder, prototyper, creative personal site</h2>
				
			</hgroup>
		</div>
		</div>