<div id="banner">
	<div id="cover" class="home"> 
			<hgroup>
				<%= image_tag("cover.png") %>
				<h1>Benton Rochester Portfolio</h1>
				<h2>Developer, builder, prototyper, creative personal site</h2>
			</hgroup>
		</div>

	
</div>
<nav class="navhead">
	<a href="#" class="logo"><%= image_tag("logo.png") %></a>
		<ul >
			<li>Portfolio</li>
			<li>About Me</li>
			<li>Contact Me</li>
			<li>Resume</li>
		</ul>
</nav>
