<div id="banner">
	<div id="cover" class="home"> 
			<hgroup>
				
					<%= image_tag("cover.png") %>
					
				<h1>Benton Rochester Portfolio</h1>
				<h2>Developer, builder, prototyper, creative personal site</h2>
				
			</hgroup>
		</div>	
	</div>
<nav class="navhead">
	<a href="#" class="logo"><%= image_tag("logo.png") %></a>
		<ul >
			<li><a href="#mywork">Portfolio</a></li>
			<li><a href="#aboutme" >About Me</a></li>
			<li><a href="#contact" >Contact Me</a></li>
			<li><a href="#" >Resume</a></li>
		</ul>
</nav>
