
<nav class="navheadfix">
	<div class="divwrapper">
		<a href="#" class="logo"><%= image_tag("logo.png") %></a>
			<ul class="floatleft">
			<li><a href="http://www.imbenton.com/">Homepage</a></li>
			<li><a href="http://buildfailrepeat.com/" >My Blog</a></li>
		</ul>
		<ul class="floatright">
			<li><a href="/process">My Process</a></li>
			<li><a href="/BentonRochester_creative_resume.pdf" target="_blank" >Résumé</a></li>
		</ul>
	</div>
</nav>
