<nav class="navhead">
	<a href="#" class="logo"><%= image_tag("logo.png") %></a>
		<ul >
			<li><a href="#mywork">Portfolio</a></li>
			<li><a href="#aboutme" >About Me</a></li>
			<li><a href="#contact" >Contact Me</a></li>
			<li><a href="/BentonRochester_creative_resume.pdf" target="_blank" >Résumé</a></li>
		</ul>
</nav>
